body{
  background-color: #111;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("img/stardust.png");
}

.scoreboard{
  width: 600px;
  text-align: center;
  color: #555;
  text-transform: uppercase;
  font-family: Revalia;
  margin: 20px auto 40px;
  height: 70px;
}

.scoreboard > div {
  width: 100px;
  display: inline-block;
}

.scoreboard h1{
  text-shadow: #FFF 0em 0em 0.1em;
  color: #FFF;
  margin: 0;
}

.scoreboard .round h1{
  color: #555;
  text-shadow: none;
}

.scoreboard p{
  font-size: 13px;
  font-weight: bold;
}

.grid{
  height: 400px;
  width: 400px;
  margin: auto;
  border: 3px solid #555;
  padding-left: 1px;
  padding-top: 1px;
  background-color: #000;
  box-shadow: 0px 4px 10px 10px rgba(0,0,0,0.2);
}

.cell{
  background-color: #222;
  margin-right: 1px;
  margin-bottom: 1px;
  float: left;
}

.p1{
  color: #6DD;
}

.p2{
  color: #F06;
}

.p3{
  color: #FC0;
}

.p4{
  color: #9F0;
}

.tron1{
  background-color: #2E6667;
}

.tron1.bike{
  background-color: #6DD;
}

.tron2{
  background-color: #72002B;
}

.tron2.bike{
  background-color: #F06;
}

.tron3{
  background-color: #816700;
}

.tron3.bike{
  background-color: #FC0;
}

.tron4{
  background-color: #2F804A;
}

.tron4.bike{
  background-color: #6f9;
}